langgraph
autogen
fastapi
uvicorn
pydantic
python-dotenv
pinecone
sentence-transformers
langchain
langchain-groq
groq
sqlite-utils
ollama
pyyaml
mcp
langchain-community
langchain-huggingface
requests
graphviz