langgraph
autogen
fastapi
uvicorn
pydantic
openai
sqlite-utils
langchain
langgraph
ollama
openai
pydantic
python-dotenv
pyyaml
mcp
groq

langchain-groq 
langchain-community 
langgraph 
pinecone-client 
python-dotenv 
pydantic 
requests
sentence-transformers 
pinecone-client 
langchain-community 
langchain-huggingface